azure = {
  subscription_id = ""
  tenant_id       = ""
  client_id       = ""
  client_secret   = ""
}

database_server_password = ""

github = {
  token = ""
}

environments = {

  production = {

    GH_TOKEN     = ""
    MACHINE_USER = ""
    MACHINE_IP   = ""
    ACR_URL      = ""
    ACR_USERNAME = ""
    ACR_PASSWORD = ""
    IMG_NAME     = ""
    IMG_TAG      = ""

    FLASK_CONFIG     = ""
    FLASK_DEBUG      = ""
    FLASK_ENV        = ""
    FLASK_TESTING    = ""
    FLASK_SECRET_KEY = ""

    POSTGRES_DB       = ""
    POSTGRES_HOST     = ""
    POSTGRES_PASSWORD = ""
    POSTGRES_PORT     = ""
    POSTGRES_USER     = ""

  }

}
